# Environment variables
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*